.btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $color-text;
    color: $color-tertiary;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: $color-primary;
    color: $color-text;
}
