$color-primary: #F7B3C2;
$color-secondary: #A6C8E7;
$color-tertiary: #B2D8C2;
$color-text: #444444;
$color-text-secondary: #333333;
$color-text-tertiary: #000000;
$grid-gap: 20px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
$paddings: 10px;
$font-family: "Open Sans", sans-serif;